.hero-quantity {
    display: flex;
    gap: 4px;
    font-size: 14px;
    color: #000000;
}

.hero-quantity .quantity-icon {
    font-size: 16px;
    color: #000000;
}

.stat.hp {
    flex: 0 0 auto;
    justify-content: flex-end;
    gap: 4px;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #d32f2f;
}

.hp-heart {
    font-size: 18px;
    color: #ff2323;
}

.stat.attack {
    flex: 1 1 auto;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.attack-icon-short {
    height: 25px;
    width: auto;
    align-self: center;
}

.stat.move {
    flex: 0 0 18%;
    justify-content: flex-end;
    gap: 6px;
    color: #333;
}

.move-label {
    font-size: 30px;
    transform: rotate(0deg);
}
.move-value {
    font-weight: 600;
    font-size: 18px;
}

@media (max-width: 740px) {
    .hp-heart {
        font-size: 16px;
    }

    .move-label {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .hp-heart {
        font-size: 14px;
    }

    .move-label {
        font-size: 20px;
    }
}