.git
.gitignore

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

.mvn/
.settings/

*.log
*.tmp
*.bak

.idea/
.vscode/
*.iml
.classpath
.project
.metadata/

**/surefire-reports/
**/failsafe-reports/


.DS_Store
Thumbs.db
