spring.application.name=backup-service

server.port=8084

# Rabbit
spring.rabbitmq.host=rammitmq
spring.rabbitmq.port=5672
spring.rabbitmq.username=${RABBIT_USER}
spring.rabbitmq.password=${RABBIT_PASS}

# Actuator
management.endpoints.web.exposure.include=health, info, metrics

# Backup
backup.csv.path.user=backend/services/backup-service/backup/users.csv
backup.csv.path.party=backend/services/backup-service/backup/parties.csv
