spring.application.name=unmatched-backend-core

server.address=
server.port=

# Data Source
spring.datasource.driver-class-name=
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

# Redis
spring.data.redis.port=
spring.data.redis.host=
spring.cache.type=redis

# Hibernate
spring.jpa.properties.hibernate.dialect=
spring.jpa.properties.hibernate.show_sql=true
spring.jpa.properties.hibernate.format_sql=true

# Actuator
management.endpoints.web.exposure.include=health, info

# Logging
logging.level.root=
logging.level.org.springframework.web=
logging.level.com.radiuk.unmatched_backend_core=
logging.file.name=b

#Backup
backup.csv.path.party=backend/services/unmatched-backend-core/backup/parties.csv
backup.csv.path.user=backend/services/unmatched-backend-core/backup/users.csv